<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Address Table</title>
</head>
<body>
  <h1>Addresses</h1>
  <form>
    <input
         type="text"
         id="input"
         onkeyup="addressFunctions.searchByStreetNameAndStreetNumber()"
         placeholder="Search by street..."
         />
    <input type="submit" value="All" />
  </form>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Address ID</th>
          <th>Street Name</th>
          <th>Street Number</th>
          <th>City</th>
          <th>State</th>
          <th>Country</th>
          <th>Zip Code</th>
          <th>Number of Persons</th>
        </tr>
      </thead>
      <tbody id="addresses">
  
      </tbody>
    </table>
  </div>
  <script src="functions.js"></script>
</body>
</html>