<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=¨stylesheet¨ type=¨text/css¨ href=¨style.css¨>
    <title>Address Table</title>
</head>
<body>
  <h2>Addresses:</h2>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Address ID</th>
            <th>Street Name</th>
            <th>Street Number</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Zip Code</th>
            <th>Number of Persons</th>
          </tr>
        </thead>
        <tbody id="addresses">
    
        </tbody>
      </table>
    </div>
    <script src="functions.js"></script>
</body>
</html>