<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Address Book</title>
    <link rel=¨stylesheet¨ type=¨text/css¨ href=¨style.css¨>
  </head>
  <body>
    <main>
      <table>
        <tr>
          <th>Address ID</th>
          <th>Street Name</th>
          <th>Street Number</th>
          <th>City</th>
          <th>State</th>
          <th>Country</th>
          <th>Zip Code</th>
        </tr>
        <tr>
          <td>Content</td>
          <td>Content</td>
          <td>Content</td>
          <td>Content</td>
          <td>Content</td>
          <td>Content</td>
          <td>Content</td>
        </tr>
      </table>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        personFunctions.getPersons();
      });
    </script>
    <script src="functions.js"></script>
  </body>
</html>
