<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=¨stylesheet¨ type=¨text/css¨ href=¨style.css¨>
    <title>Persons Table</title>
</head>
<body>
    <h2>Persons:</h2>
    <form>
        <input
             type="text"
             id="input"
             onkeyup="personFunctions.searchByFirstNameAndLastName()"
             placeholder="Search by name..."
             />
        <input type="submit" value="All" />
      </form>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Address ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody id="persons">
    
        </tbody>
      </table>
    </div>
    <script src="functions.js"></script>  
</body>
</html>